<div class="demo-md-panel md-padding" >
<div layout="row">
    <div flex="33">
	  <h1 class="md-display-2">Environments</h1>
	  <md-button class="md-primary md-raised demo-dialog-open-button" ng-click="addEnvironmentView();">Add New Environment</md-button>
	  <md-list>
		<md-list-item class="md-3-line" ng-repeat="item in environments">
		  <img ng-src="{{item.path}}?{{$index}}" class="md-avatar" alt="{{item.name}}" />
		  <div class="md-list-item-text" layout="column">
		    <h3>{{ item.name }}</h3>
		    <p>{{ item.description }}</p>
		  </div>
		</md-list-item>
		<md-divider ></md-divider>
	  </md-list>
	</div>
</div>
</div>