.tabsdemoDynamicHeight md-content {
  background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
  background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
  margin-top: 0;
}


.right {
    position: absolute;
    right: 10px;
    padding: 10px;
}

md-tab-content {
  overflow: auto;
}
#tab-content-0 > div {
  height: 100%;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 10px; }
  
  .buttondemoBasicUsage section {
  background: #f7f7f7;
  border-radius: 3px;
  text-align: center;
  margin: 1em;
  position: relative !important;
  padding-bottom: 10px; }
.buttondemoBasicUsage md-content {
  margin-right: 7px; }
.buttondemoBasicUsage section .md-button {
  margin-top: 16px;
  margin-bottom: 16px; }
.buttondemoBasicUsage .label {
  position: absolute;
  bottom: 5px;
  left: 7px;
  font-size: 14px;
  opacity: 0.54; }
  
  
demo-md-panel {
  min-height: 500px;
}
.demo-dialog-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 500px;
}
.demo-dialog-content {
  padding: 0 15px;
  width: 100%;
}
.demo-dialog-content img {
  height: 300px;
  margin: auto;
}
.demo-dialog-button {
  width: 100%;
}
.demo-menu-example {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}
.demo-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  padding: 0 16px;
  position: relative;
  transition: background 0.15s linear;
  width: auto;
}
.demo-menu-item:hover,
.demo-menu-item:focus {
  background-color: rgb(238, 238, 238);
}
.demo-menu-item.selected {
  color: rgb(16, 108, 200);
}